<a href="https://colab.research.google.com/github/Imuseless123/InventoryOP/blob/main/Colaboratory_ch%C3%A0o_m%E1%BB%ABng_b%E1%BA%A1n!.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
import pandas as pd
import numpy as np

# Load your data with semicolon as the separator and set low_memory to False to avoid mixed-type warnings
df = pd.read_csv('/content/sample_data/DataCoSupplyChainDataset.csv', encoding='latin-1', sep=';', low_memory=False)
print(df);

            Type  Days for shipping (real)  Days for shipment (scheduled)  \
0          DEBIT                         3                              4
1       TRANSFER                         5                              4
2           CASH                         4                              4
3          DEBIT                         3                              4
4        PAYMENT                         2                              4
...          ...                       ...                            ...
180514      CASH                         4                              4
180515     DEBIT                         3                              2
180516  TRANSFER                         5                              4
180517   PAYMENT                         3                              4
180518   PAYMENT                         4                              4

       Benefit per order Sales per customer   Delivery Status  \
0                  91.25      3.146.400.146  Advance shipping
1         -2.490.899.963      3.113.599.854     Late delivery
2         -2.477.799.988      3.097.200.012  Shipping on time
3          2.286.000.061      3.048.099.976  Advance shipping
4          1.342.100.067             298.25  Advance shipping
...                  ...                ...               ...
180514                40        399.980.011  Shipping on time
180515    -6.137.700.195        395.980.011     Late delivery
180516     1.411.100.006        391.980.011     Late delivery
180517     1.862.299.957        387.980.011  Advance shipping
180518     1.689.499.969        383.980.011  Shipping on time

        Late_delivery_risk  Category Id   Category Name Customer City  ...  \
0                        0           73  Sporting Goods        Caguas  ...
1                        1           73  Sporting Goods        Caguas  ...
2                        0           73  Sporting Goods      San Jose  ...
3                        0           73  Sporting Goods   Los Angeles  ...
4                        0           73  Sporting Goods        Caguas  ...
...                    ...          ...             ...           ...  ...
180514                   0           45         Fishing      Brooklyn  ...
180515                   1           45         Fishing   Bakersfield  ...
180516                   1           45         Fishing       Bristol  ...
180517                   0           45         Fishing        Caguas  ...
180518                   0           45         Fishing        Caguas  ...

       Order Zipcode Product Card Id Product Category Id  Product Description  \
0                NaN            1360                  73                  NaN
1                NaN            1360                  73                  NaN
2                NaN            1360                  73                  NaN
3                NaN            1360                  73                  NaN
4                NaN            1360                  73                  NaN
...              ...             ...                 ...                  ...
180514           NaN            1004                  45                  NaN
180515           NaN            1004                  45                  NaN
180516           NaN            1004                  45                  NaN
180517           NaN            1004                  45                  NaN
180518           NaN            1004                  45                  NaN

                                            Product Image  \
0            http://images.acmesports.sports/Smart+watch
1            http://images.acmesports.sports/Smart+watch
2            http://images.acmesports.sports/Smart+watch
3            http://images.acmesports.sports/Smart+watch
4            http://images.acmesports.sports/Smart+watch
...                                                   ...
180514  http://images.acmesports.sports/Field+%26+Stre...
180515  http://images.acmesports.sports/Field+%26+Stre...
180516  http://images.acmesports.sports/Field+%26+Stre...
180517  http://images.acmesports.sports/Field+%26+Stre...
180518  http://images.acmesports.sports/Field+%26+Stre...

                                     Product Name Product Price  \
0                                    Smart watch         327.75
1                                    Smart watch         327.75
2                                    Smart watch         327.75
3                                    Smart watch         327.75
4                                    Smart watch         327.75
...                                           ...           ...
180514  Field & Stream Sportsman 16 Gun Fire Safe   399.980.011
180515  Field & Stream Sportsman 16 Gun Fire Safe   399.980.011
180516  Field & Stream Sportsman 16 Gun Fire Safe   399.980.011
180517  Field & Stream Sportsman 16 Gun Fire Safe   399.980.011
180518  Field & Stream Sportsman 16 Gun Fire Safe   399.980.011

       Product Status shipping date (DateOrders)   Shipping Mode
0                   0               2/3/18 22:56  Standard Class
1                   0            1/18/2018 12:27  Standard Class
2                   0            1/17/2018 12:06  Standard Class
3                   0            1/16/2018 11:45  Standard Class
4                   0            1/15/2018 11:24  Standard Class
...               ...                        ...             ...
180514              0             1/20/2016 3:40  Standard Class
180515              0             1/19/2016 1:34    Second Class
180516              0            1/20/2016 21:00  Standard Class
180517              0            1/18/2016 20:18  Standard Class
180518              0            1/19/2016 18:54  Standard Class

[180519 rows x 53 columns]

In [12]:
# Step 1: Handle Missing Values
# Fill numerical columns with median values and categorical columns with "Unknown"
numerical_cols = df.select_dtypes(include=[np.number]).columns
categorical_cols = df.select_dtypes(exclude=[np.number]).columns

# Convert columns with periods or commas into numeric format by removing non-numeric characters
df['Sales per customer'] = pd.to_numeric(df['Sales per customer'].str.replace('.', ''), errors='coerce')
df['Product Price'] = pd.to_numeric(df['Product Price'].str.replace('.', ''), errors='coerce')
df['Benefit per order'] = pd.to_numeric(df['Benefit per order'].str.replace('.', ''), errors='coerce')

# Fill NaNs in numerical columns with the median and categorical columns with "Unknown"
df[numerical_cols] = df[numerical_cols].fillna(df[numerical_cols].median())
df[categorical_cols] = df[categorical_cols].fillna("Unknown")

In [13]:
# Step 2: Remove Duplicates
df.drop_duplicates(inplace=True)

In [14]:
# Step 3: Correct Data Types
# Convert date columns to datetime format, handling any parsing errors
df['order date (DateOrders)'] = pd.to_datetime(df['order date (DateOrders)'], errors='coerce')
df['shipping date (DateOrders)'] = pd.to_datetime(df['shipping date (DateOrders)'], errors='coerce')

<ipython-input-14-ad39e12decdf>:4: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['shipping date (DateOrders)'] = pd.to_datetime(df['shipping date (DateOrders)'], errors='coerce')

In [ ]:
# Step 4: Validate Numerical Values
# Ensure no negative or invalid values in key columns
df['Order Item Product Price'] = df['Order Item Product Price'].apply(lambda x: max(x, 0) if pd.notnull(x) else x)
df['Sales per customer'] = df['Sales per customer'].apply(lambda x: max(x, 0) if pd.notnull(x) else x)

In [ ]:
# Step 5: Standardize Categorical Data
# Capitalize categorical fields for consistency
df['Delivery Status'] = df['Delivery Status'].str.title()
df['Product Status'] = df['Product Status'].str.title()

In [ ]:
# Step 6: Format Text Fields
# Remove extra whitespace and standardize name fields
df['Customer Fname'] = df['Customer Fname'].str.strip().str.title()
df['Customer Lname'] = df['Customer Lname'].str.strip().str.title()
df['Customer Email'] = df['Customer Email'].str.strip()

In [ ]:
# Step 7: Verify Geolocation Data
df = df[(df['Latitude'] >= -90) & (df['Latitude'] <= 90)]
df = df[(df['Longitude'] >= -180) & (df['Longitude'] <= 180)]

In [ ]:
# Step 8: Calculate Derived Columns
df['Actual Delivery Time'] = (df['shipping date (DateOrders)'] - df['order date (DateOrders)']).dt.days
df['Late Delivery'] = np.where(df['Actual Delivery Time'] > df['Days for shipment (scheduled)'], 1, 0)

In [ ]:
# Step 9: Remove Irrelevant or Sensitive Columns
df.drop(columns=['Customer Password'], inplace=True)

In [ ]:
# Save cleaned data to a new CSV
df.to_csv('cleaned_data.csv', index=False)